* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;


}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: chocolate;
    width: 350px;
    height: 100vh;
    position: fixed;
    justify-content: center;
    align-items: center;
}

header img
{

    width: 180px;
    height: 180px;
    border: 9px solid rgb(160, 87, 4);
    box-shadow: inset 2px 2px 2px brown;
    border-radius: 50%;
}

header nav a {
    margin: 20px;
    font-size: larger;
    font-weight: 900px;
    text-decoration: none;
    align-items: center;
    color: aliceblue;
    display: flex;
    gap: 3px;
    padding-left: 20px;
}

a:hover {
    color: black;
}

a :active {
    color: brown;

}

#icon img {
    height: 50px;
}

#page1 {
    height: 650px;
    margin-left: 400px;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 200px;
}

#page1 h1 {
    font-size: 60px;
}

#p1 {
    font-size: 20px;
    font-weight: 600;
}

#P2 {
    font-size: 20PX;
}

#nam {
    color: rgb(160, 87, 4);
    display: inline;
}
.h2{
    font-size: 40px;
}
.h3{
font-size:20px;
}

#page3 {
    height: 630px;
    margin-left: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: left;
    justify-content: left;
}

.div {
    font-size: 20px;
}

#page4 {
    height: 630px;
    margin-left: 400px;
     display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
/* align-content:left; */
}



#page5 {
    margin-left: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: left;
    justify-content: left;
    padding-bottom: 40px;
    padding-top: 40px;

}

#page6 {
    margin-left: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: left;
    justify-content: left;
    padding-bottom: 40px;
    padding-top: 40px;


}

#page7 {
    margin-left: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: left;
    justify-content: left;
    padding-bottom: 40px;
    padding-top: 40px;
}